<div id="prono-tournament-table" class="my-4 mx-5" style="
  margin-right: 30px;
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(#{@rounds.length * 2 + 1}, 1fr);
  grid-template-rows: repeat(#{@rounds.max}, 1fr);">
  <% @games = @scrapp.games %>
  <% @final_prono = @pronos.find { |prono| prono.game == Game.find_by(scrapp: @scrapp, index: @scrapp.participants.count - 1) } %>
  <% @games.select { |game| game.round == @rounds.max }.each do |game| %>
    <div class="game-box-show" style="
      grid-column-start: <%= game.grid_column %>;
      grid-column-end: <%= game.grid_column %>;
      grid-row-start: <%= game.grid_row_start %>;
      grid-row-end: <%= game.grid_row_end %>;">
      <div class="player-box" id="game-<%= game.index %>" data-prono="<%= game.next_game_index %>" data-player="first">
        <div class="player-seed">
          <%= game.first_player.participants.find_by(scrapp: @scrapp).obtain_seed %>
        </div>
        <div class="player-name">
          <%= game.first_player.participants.find_by(scrapp: @scrapp).name %>
        </div>
      </div>
      <div class="player-box" id="game-<%= game.index %>" data-prono="<%= game.next_game_index %>" data-player="second">
        <div class="player-seed">
          <%= game.second_player.participants.find_by(scrapp: @scrapp).obtain_seed %>
        </div>
        <div class="player-name">
          <%= game.second_player.participants.find_by(scrapp: @scrapp).name %>
        </div>
      </div>
    </div>
  <% end %>
  <% @rounds.each do |round| %>
    <% if round != 1 %>
      <% @pronos.select { |prono| prono.game.round == round }.each do |prono| %>
        <div class="arrow-between-games" style= "
          grid-column-start: <%= prono.game.next_game.grid_column - 1 %>;
          grid-column-end: <%= prono.game.next_game.grid_column - 1 %>;
          grid-row-start: <%= prono.game.grid_row_start %>;
          grid-row-end: <%= prono.game.grid_row_end + 1 %>;">
          <i class="fas fa-chevron-right text-warning"></i>
        </div>
        <div class="show-prono-box" style="
            grid-column-start: <%= prono.game.next_game.grid_column %>;
            grid-column-end: <%= prono.game.next_game.grid_column %>;
            grid-row-start: <%= prono.game.grid_row_start %>;
            grid-row-end: <%= prono.game.grid_row_end + 1 %>;">
          <div class="result-box">
            <div class="result text-white">
              Résultat :
            </div>
            <div class="winner">
              <%= prono.game.winner.nil? ? "" : prono.game.winner.participants.find_by(scrapp: @scrapp).name %>
            </div>
          </div>
          <div class="game-player-box", id="game-<%= prono.game.index %>" data-prono="<%= prono.game.next_game_index %>" data-player="first">
            <div class="ton-prono text-white" style="
              background-color: <%= prono.background_color_prono_box %>;">
              Prono :
            </div>
            <div class="player-name" style="
              background-color: <%= prono.background_color_winner_box %>;
              color: <%= prono.background_color_prono_box %>;
              border-left: <%= prono.border_winner_box %>;
              border-right: <%= prono.border_winner_box %>;
              border-bottom: <%= prono.border_winner_box %>;">
              <%= prono.winner.participants.find_by(scrapp: @scrapp).name%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="arrow-between-games" style= "
    grid-column-start: <%= @rounds.length * 2 %>;
    grid-column-end: <%= @rounds.length * 2 %>;
    grid-row-start: 1;
    grid-row-end: <%= @rounds.max + 1 %>;">
    <i class="fas fa-chevron-right text-warning"></i>
  </div>
  <div class="show-prono-box" style="
      grid-column-start: <%= @rounds.length * 2 + 1 %>;
      grid-column-end: <%= @rounds.length * 2 + 1 %>;
      grid-row-start: 1;
      grid-row-end: <%= @rounds.max + 1%>;">
    <div class="result-box">
      <div class="result text-white">
        Résultat :
      </div>
      <div class="winner">
        <%= @final_prono.game.winner.nil? ? "" : @final_prono.game.winner.participants.find_by(scrapp: @scrapp).name %>
      </div>
    </div>
    <div class="game-player-box", id="final">
      <div class="ton-prono text-white" style="
        background-color: <%= @final_prono.background_color_prono_box %>;">
        Prono :
      </div>
      <div class="player-name" style="
        background-color: <%= @final_prono.background_color_winner_box %>;
        color: <%= @final_prono.background_color_prono_box %>;
        border-left: <%= @final_prono.border_winner_box %>;
        border-right: <%= @final_prono.border_winner_box %>;
        border-bottom: <%= @final_prono.border_winner_box %>;">
        <%= @final_prono.winner.participants.find_by(scrapp: @scrapp).name %>
      </div>
    </div>
    </div>
  </div>
</div>
